.controls {
    display: flex;
    justify-content: center;    
    padding: 4px;
    max-width: 648px;
    margin: auto;
}

.time-range-input {
    /* margin-left: 8px;
    background-color: blueviolet;
    border: none; */
    background-color: #1D3557;
    color: white;
    padding: 4px;
    width: 120px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.limit-input {
    width: 54px;
    height: 54px;
    margin: 0 8px;
    padding: 0;
    border: 1px solid rgb(0,0,0,0.2);
    background-color: #1D3557;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.limit-input::-webkit-outer-spin-button, 
.limit-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.limit-input[type=number] {
    text-align: center;
    height: 30px;
    padding: 0;
    font-size: medium;
    -moz-appearance: textfield;
}

.refresh-button {
    margin-right: 8px;
    width: 100px;
    border: 1px solid black;
    padding: 6px;
}