html {
  max-width: 960px;
  height: 100%;
  margin: auto;
  padding: 0 16px;
  background-color: #1A1A1A;
  color: white;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  font-size: 18px;
}

header span {
  padding: 4px 8px;
  border: 1px dotted white;
}

header li {
  display: inline-block;
  padding: 0.3em;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: #cc1461;
}

header a img {
  margin: auto 0;
  width: 16px;
  height: 16px;
}

header a img:hover {
  color: #cc1461;
}

h1 {
  text-align: center;
}

hr {
  margin: 32px auto 32px;
  width: 50%;
  border-top: 12px dotted rgba(255, 255, 255, 0.5);
  border-left: none;
  border-right: none;
  border-bottom: none;
}

/* 
  ############ BIOGRAPHY SECTION ################
*/

.biography {
  margin: 32px 0 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.biography img {
  margin: 16px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.biography p {
  flex-basis: 65%;
  margin: 0;
  font-size: 16px;
}

/* 
  ############ HIGHLIGHTS SECTION ################
*/

.highlights {
  display: flex;
  flex-wrap: wrap;
  padding: 0 32px;
}

.highlight {
  padding: 16px;
  margin: 16px 16px;
  flex-grow: 1;
  flex-basis: 40%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.highlight h2 {
  margin: 0;
  color: #cc1461;
}

.highlight h3 {
  margin: 0 0 0 4px;
  font-size: 14px;
  font-style: italic;
  font-weight: lighter;
}

.highlight p {
  margin: 16px 0 0 0;
}